@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
    background: #17171d;
    font-size: 16px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

input[type='submit'],
select[type='option'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .speed {
        font-family: 'Roboto', sans-serif;
        font-size: 64px;
        line-height: 1;
        font-weight: 400;
        color: #689467;
        display: inline-block;
        float: left;
    }
}

.flag_s {
    background-color: #8a8b8e;
    padding: 0 10px;
    color: #0e0e0e;
    border-radius: .15em;
}

.button_download a {
    color: #e2e2e2;
    background-color: #008233;
}
.button_download:hover a {
    color: #008233;
    background-color: #1b1c20;
}

.flag-grayscale img {
    filter: grayscale(100%);
    display: inline-block;
    position: absolute;
    margin-left: -40px;
    margin-top: -2px;
}
.flag-grayscale:hover img {
    filter: none;
    display: inline-block;
    position: absolute;
    margin-left: -40px;
    margin-top: -2px;
}

.flag_a {
    display: inline-block;
    color: #777;
    font-size: 16px;
    padding-right: 20px;
    margin-top: 1px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 20px;
    text-decoration: none;
}

.flag_b {
    color: #777;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    margin-top: 1px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 20px;
}

.exit a {
    font-size: 16px;
    text-decoration: none;
    color: #777;
}

.header_top {
    color: #777;
    display: inline-block;
    margin-right: 20px;
    margin-top: -4px;
    vertical-align: top;
}
.header_top_ab {
    display: inline-block;
    padding-left: 20px;
    float: right;
    margin-top: 3px;
}

.header_top_a {
    display: inline-block;
    margin-top: 4px;
}

.header_top_b {
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
}

.login_a a {
    text-decoration: none;
    font-size: 14px;
    margin-right: 30px;
    color: #ccc;
}

.button_participate a {
    color: #cfb783;
}
.button_participate:hover a {
    background-color: #cfb783;
    color: #000;
}

.button_scan span {
    color: #689467;
}
.button_scan:hover span {
    background-color: #689467;
    color: #000;
}

.header2 {
    width: 100%;
    color: #808080;
    background-color: rgba(23, 23, 29, 0.9);
    border-bottom: 0.5px solid #2d2d2d;
    padding: 0;
    position: fixed;
    z-index: 9999;
    top: 60px;
    font-size: 14px;
    word-spacing: 0;
}
.header3 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}

.speed {
    background-image: url(https://secretscan.org/img/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 64px;
    line-height: .75;
    margin: 10px 0;
    display: inline-block;
    font-weight: 400;
    margin-top: 0;
}

.button_send {
    cursor: pointer;
    border-color: #fff;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
    background: linear-gradient(#6169c5, #2372b1);
    border-width: 0;
    width: 560px;
}

.header {
    width: 100%;
    color: #fff;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 15px 0;
    position: fixed;
    z-index: 9999;
    top: 0;
}

.calc_1, .calc_2, .calc_3 {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    margin-bottom: 1px;
}
.calc_1 {
    background: #f7931a;
}
.calc_2 {
    background: #5f7be9;
}
.calc_3 {
    background: #3fad54;
}

.menu_1 a {
    padding: 10px 15px;
    color: #cacacc;
    border-color: #000;
    border-width: 2px;
    -webkit-appearance: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    border: 0.5px solid #2d2d2d;
    margin-right: -5px;
    display: inline-block;
    margin-top: -1px;
}

.menu_2 {
    display: inline-block;
    margin-top: 21px;
}

a.u_table {
    color: #777;
    text-decoration: none;
}

.nn {
    padding-top: 3px;
    padding-left: 20px;
    color: #c5c5c6;
}

.footer2 {
    width: 100%;
    color: #fff;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 15px 0;
    position: fixed;
    z-index: 9999;
    bottom: 0;
}

.header_1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    opacity: 0.773319;
    text-align: center;
    margin-top: 30px;
}

.header_2 {
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #777;
    opacity: 0.773319;
    margin-bottom: 40px;
}

.header_menu {
    display: inline-block;
    color: #777;
    padding: 0 9px;
    font-size: 16px;
}

.header_menu_active {
    display: inline-block;
    color: #219fca;
    padding: 0 9px;
    padding-bottom: 14px;
    font-size: 16px;
}

.cookie-block {
    bottom: 0;
    background-color: rgba(34, 34, 34, 0.9);
    color: #fff;
    font-size: 14px;
    left: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.cookie-container {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    width: 100%;
    padding: 16px;
    padding-left: max(16px, env(safe-area-inset-left));
    padding-right: max(48px, env(safe-area-inset-right));
}

.block_1 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 64px;
    font-weight: 400;
    color: #78787c;
    display: inline-block;
    float: left;
}

.visible {
    display: block;
}

@media screen and (max-width: 992px) {
    .gradient_line {
        display: none;
    }
}

.gradient_line23 {
    margin-left: auto;
    margin-right: auto;
    content: " ";
    height: 1px;
    clear: both;
    background: linear-gradient(to right, transparent, #777, transparent);
    width: 50%;
}

.gradient_line {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.5px solid #2d2d2d;
    width: 100%;
    max-width: 1000px;
}

#search,
#search_input {
    background: #17171d;
    border: 1px solid #777;
    color: #777;
}

#search_input {
    padding: 4px 10px;
    margin-left: 20px;
    color: #ccc;
}

#search_input:focus {
    color: #fff;
}

.mobi_search_btn {
    padding: 2px 5px 0 0;
    color: #777;
}
